{% extends 'base.html' %}

{% block content %}
    <main>

        <div class="container-fluid px-lg-5">
        <div class="row">
                                <div class="col l12"><h2 class="flow-text">My Payments</h2></div>

        </div>
            <div class="row">
                {% if order %}
                    <div class="col s12">
                        {% for item in order %}
                                <div class="card">
                                    <div class="card-action blue lighten-5">
                            {% for foo in item.items.all %}
                                <div class="row mb-0">
                                    <div class="col s9">
                                        <strong class="text-uppercase font-weight-bold">{{ foo.course.title }}</strong>
                                    </div>
                                {% if forloop.counter > 1 %}

                                {% else %}
                                <div class="col s3">
                                    {% if item.payment.last.due_amount %}
                                        <a href="#modal{{ forloop.parentloop.counter }}" class="waves-effect waves-light btn modal-trigger red accent-3">Pay Due: {{ item.payment.last.due_amount }}</a>
  <!-- Modal Structure -->
  <div id="modal{{ forloop.parentloop.counter }}" class="modal bottom-sheet">
    <div class="modal-content">
        {% include "students/repay.html" %}
    </div>
  </div>

                                    {% endif %}
                                </div>

                                {% endif %}
                                </div>
                                        <div class="row mb-n3 mt-2">
                                            <div class="col s4 text-center">
                                        <h6 class="text-capitalize small grey-text"><strong>Ref Code:</strong> {{ item.ref_code }}</h6>
                                            </div>
                                            <div class="col s4 text-center">
                                                <p class="small grey-text"><strong>Duration: </strong>{{ foo.course.duration }} Months</p>
                                            </div>
                                            <div class="col s4 text-center">
                                                <p class="small grey-text"><strong>Date of Join:</strong>  {{ item.ordered_date|date }}</p>
                                            </div>
                                        </div>
                            {% endfor %}
                                    </div>
                                <div class="card shadow-none  mt-0 pt-0">
                                        <table class="striped centered small">
                                            <tr>
                                                <td class="font-weight-bold text-capitalize grey-text">#id</td>
                                                <td class="font-weight-bold text-capitalize grey-text">amount</td>
                                                <td class="font-weight-bold text-capitalize grey-text">Type</td>
                                                <td class="font-weight-bold text-capitalize grey-text">txn_id</td>
                                                <td class="font-weight-bold text-capitalize grey-text">date</td>
                                                <td class="font-weight-bold text-capitalize grey-text">due</td>
                                                <td class="font-weight-bold text-capitalize grey-text">Status</td>
                                            </tr>
                                            {% for pay in item.payment.all %}
                                            <tr>
                                                <td>{{ pay.id }}</td>
                                                <td>{{ pay.amount }}</td>
                                                <td>{{ pay.payment_type }}</td>
                                                <td>{{ pay.txn_id }}</td>
                                                <td>{{ pay.txn_date }}</td>

                                                <td>
                                                {% if pay.due_amount > 0.0 %}

                                                    <span class="text-danger font-weight-bold">{{ pay.due_amount }}</span>
                                                {% else %}
                                                    <span class="text-success font-weight-bold">{{ pay.due_amount }}</span>
                                                {% endif %}
                                                </td>
                                                <td>
                                                    {% if pay.status %}
                                                        <span class="btn green" disabled>Paid</span>
                                                        <a href="{% url 'payment_receipt' pay.id %}">View Receipt</a>
                                                        {% else %}
                                                        <span class="btn orange">Pending</span>
                                                    {% endif %}
                                                </td>
                                              </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                        {% endfor %}
                </div>
                    {% else %}
                             <div class="card">
                    <div class="card-content">
                         <h6 class="text-capitalize">We haven't received the Any Payment yet</h6>

                    </div>
                   </div>
                {% endif %}

            </div>
        </div>
    </main>
{% endblock %}